@media (min-width: 768px) {
  .productId{
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
  }
  .product{
    display: flex;
    gap: 20px;
    flex-basis: 50%;
  }

  .galery, .info_container{
    flex: 0 0 50%;
  }
 

}